@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.hero {
  position: relative;
  min-height: 100vh;
  background-image: url("../assets/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;

  .overlay {
    position: absolute;
    inset: 0;
    width: 60%;

    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.82) 0%,
      rgba(0, 0, 0, 0.72) 40%,
      rgba(0, 0, 0, 0.35) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .hero-content {
    @include container;

    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 100vh;
  }

  .left {
    width: 55%;
  }

  .heading {
    display: inline-block;
    color: $gold;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px 18px;
    border-radius: 30px;
    margin-bottom: 24px;
    backdrop-filter: blur(8px);
    transition: 0.3s;

    // &:hover {
    //   background: $gold;
    //   color: $white;
    // }
  }
  .tag {
    display: inline-block;
    color: $gold;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px 18px;
    border-radius: 30px;
    margin-bottom: 24px;
    backdrop-filter: blur(8px);
    transition: 0.3s;

    // &:hover {
    //   background: $gold;
    //   color: $white;
    // }
  }

  .tag {
    animation: float 3s ease-in-out infinite;
  }

  h1 {
    line-height: 1.1;
    text-transform: uppercase;

    .title {
      display: block;

      //   font-family: "Cormorant Garamond", serif;
      font-size: 56px;
      font-weight: 600;
      //   font-style: italic;
      letter-spacing: 2px;

      color: $white;
    }

    .typing-wrapper {
      display: block;
      height: 2.2em; // Reserve space
      margin-top: 12px;
    }

    .typing {
      position: relative;
      display: inline-block;

      font-family: "Brittany Signature", cursive;
      font-weight: 400;
      font-size: 76px;
      font-weight: 700;
      font-style: italic;
      letter-spacing: 2px;

      color: #f7dc8b;

      text-shadow:
        0 0 6px rgba(247, 220, 139, 0.45),
        0 0 14px rgba(202, 162, 74, 0.3),
        0 0 28px rgba(202, 162, 74, 0.18);

      &:not(:empty)::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;

        width: 100%;
        height: 3px;
        border-radius: 999px;

        background: linear-gradient(
          90deg,
          #f7dc8b,
          #d9b25f,
          rgba(217, 178, 95, 0.25)
        );

        box-shadow:
          0 0 8px rgba(247, 220, 139, 0.45),
          0 0 18px rgba(202, 162, 74, 0.25);

        animation: underlineGrow 0.25s ease-out;
      }

      &::after {
        content: "_";
        color: #f7dc8b;
        animation: blink 0.8s infinite;
      }
    }

    @keyframes underlineGrow {
      from {
        transform: scaleX(0);
        opacity: 0;
      }

      to {
        transform: scaleX(1);
        opacity: 1;
      }
    }
  }

  p {
    max-width: 560px;
    color: #ddd;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .features {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;

    span {
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 12px 22px;
      border-radius: 30px;
      backdrop-filter: blur(8px);
    }
  }
}

/* Tablet */

@media (max-width: 992px) {
  .hero {
    .hero-content {
      min-height: auto;
      padding: 150px 0 80px;
      flex-direction: column;
      text-align: center;
    }

    .left {
      width: 100%;
    }

    h1 {
      font-size: 54px;
    }

    p {
      margin-inline: auto;
    }

    .features {
      justify-content: center;
    }
  }
}

/* Mobile */

@media (max-width: 768px) {
  .hero {
    background-image: url("../assets/images/hero-mobile.png");
    min-height: auto;
    .overlay {
      width: 100%; /* Stretch across full width on mobile */
      background: rgba(18, 18, 18, 0.3); /* Soft dull black */
    }
    .hero-content {
      min-height: auto;
      padding: 120px 0 70px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 40px;
    }

    .left {
      width: 100%;
    }

    h1 {
      font-size: 40px;
    }
    .typing-wrapper {
      min-height: calc(2 * 1.2em);
    }

    .typing {
      display: block;
      font-family: "Brittany Signature", cursive;
      white-space: nowrap;
      font-size: 42px;
      line-height: 1.2;
      text-align: center;
    }

    p {
      max-width: 100%;
      font-size: 16px;
      margin-inline: auto;
    }

    .features {
      justify-content: center;
      gap: 12px;

      span {
        width: 100%;
        max-width: 240px;
      }
    }
  }
}

@media (max-width: 480px) {
  .hero {
    h1 {
      font-size: 34px;
    }
    .typing-wrapper {
      min-height: calc(2 * 1.2em);
    }
    .overlay {
      width: 100%; /* Stretch across full width on mobile */
      background: rgba(18, 18, 18, 0.3); /* Soft dull black */
    }

    .typing {
      display: block;
      white-space: nowrap;
      font-family: "Ephesis", cursive;
      font-size: 34px !important;
      line-height: 1.2;
      text-align: center;
    }

    .heading,
    .tag {
      font-size: 13px;
      padding: 8px 16px;
    }
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}
